@font-face {
  font-family: 'BlackOpsOne-google';
  src: url('../../public/font/Black_Ops_One/BlackOpsOne-Regular.ttf')
    format('truetype');

  font-style: normal;
}
@font-face {
  font-family: 'Bebas_Neue-google';
  src: url('../../public/font/Bebas_Neue/BebasNeue-Regular.ttf')
    format('truetype');

  font-style: normal;
}
